
node_modules
.next
build
.env.local
.env

# Serwist
public/sw*
public/swe-worker*
.vercel
lint_output.txt
pnpm-lock.yaml
pnpm-workspace.yaml

# typescript
*.tsbuildinfo
next-env.d.ts
